<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <div class="row">
          <div class="col">
              <h1>To Do App</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
          
            <div class="row">
              <div class="col">
                  <p class="lead">
                      “Each day I will accomplish one thing on my to do list.” ― <i>Lailah Gifty Akita</i>
                  </p>      
              </div>
            </div>
            <todo-home></todo-home>
          </div>
        </div>
      </div>
    </div>
</div>