<div class="row">
  <div class="col">
    <form> 
      <div class="input-group">
          <input id="todoItem"
            [(ngModel)]="todoItem.description"
            name="description"
            type="text" 
            class="form-control" 
            placeholder="Hoy debo hacer..." 
            required>
          <span class="input-group-btn">
            <button 
              class="btn btn-primary" 
              type="button" 
              (click)="addItemToList()">To Do!</button>
          </span>
        </div>
    </form>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col">
        <div class="d-flex w-100 justify-content-center">
          <i [hidden]="isListDone() !== true">Todo en orden :)</i>
        </div>
        <div class="list-group">
          <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between" 
            *ngFor="let todoItem of todoList"
            [ngClass]="{'list-group-item-success': todoItem.status === 'done'}">
            <div>
                &nbsp;  <input (click)="doItem(todoItem)" type="checkbox" class="form-check-input">&nbsp; {{todoItem.description}}
              </div>
            <i class="fa fa-trash" (click)="removeItem(todoItem)"></i>
          </div>
        </div>
  </div>
</div>

